@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#page1{
    font-family: Fira Sans;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    width: 1520px;
    height: 650px;

}

#page1 .head1 h3{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0%;
    text-align: left;

    padding: 0px;   
    margin: 140px 72px;

    position: static;
    width: 746px;
    height: 35px;
 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    

}
#page1 .head1 h1{
    padding: 0px;
    margin: -135px 72px;
    position: static;
    width: 746px;
    height: 241px;
    display: flex;
    gap: 20;

    color: rgb(14, 14, 14);
    font-size: 56px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: 0%;
    text-align: left;


}
#page1 .head1 button{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    border: none;
    /* Frame 2 */
    position: static;
    width: 324px;
    height: 67px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 20px 41px 20px 41px;
    margin: 140px 72px;
}
#page1 .img1{
    /* Group */
position: absolute;
width: 521.03px;
height: 329.21px;
left: 920px;
right: 66px;
top: 20%;
bottom: -2.3%;
}
/* ==================================================================================== */


#page2{
    font-family: Fira Sans;
    font-weight: 700;
    letter-spacing: 0%;
    text-align: left;

    position: static;
    width: 1520px;
    height: 60px;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 0px;
}
#page2 .matha h1{
    color: rgb(14, 14, 14);
    font-size: 40;
  
}
#page2 p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16;
}
#page2 .global-card{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: flex-start; 
    justify-content: space-between;
    column-gap: 24px; 
}
#page2 .global-card h2{
    color: rgba(14, 14, 14, 0.8); 
    
  
}
#page2 .global-card button{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}
#page2 .global-card .card1{
    background-color: rgb(213, 170, 184);
    width: 450px;
    height: 320px;
    border-radius: 16px;
    

 
}
#page2 .global-card .card1 button{
    background-color: rgb(156, 85, 97);
    border:none;

}
#page2 .global-card .card2{
    background-color: rgb(170, 213, 191);
    width: 450px;
    height: 320px;
    border-radius: 16px;
    margin: auto 0%;
}
#page2 .global-card .card2 button{
    background-color: rgb(49, 147, 64);
    border:none;
}

#page2 .global-card .card3{
    background-color: rgb(190, 180, 226);
    width: 450px;
    height: 320px;
    border-radius: 16px;
    margin: auto 0%;
}
#page2 .global-card .card3 button{
    background-color: rgb(48, 25, 142);
    border:none;
}